@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900");


 html ,body {
  font-family: 'Poppins', sans-serif !important ;
}

img {
  max-width: 100%;
  height: auto;
}


a {
  text-decoration: none !important;
}

.heading{
  color: #1e1e1e !important ;
  font-weight: 700  !important;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #4a4a4a;
}

.hero-title {
  position : relative ;
}

.hero-title::after {
  position: absolute;
  background-image: url(/images/caption-dec.png);
  width: 202px;
  height: 12px;
  content: '';
  left: 130px;
  bottom: 0;
}

